*{
    font-size: 30px;
    margin: 0;
}
body{
    background-color: rgb(213, 228, 241);
    background-color: thistle;
}
header{
    background-color: crimson;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 50px;
}
